
body {
  padding: 1rem;
  color: black;
  background: rgb(0,127,64);
}

h1 {
  font-family: sans-serif;
  font-family: 'Creepster', cursive;
  font-size: 4vw;
  letter-spacing: 3px;
  line-height: auto;
  text-align: center;
}

.rectangle {
  width: 100%;
	height: 50px;
	background: black;
  margin: 1rem;
  margin-left: 2.8rem;
}

#box, .rectangle  {
  float: left;
}

#top, .event {
  display: flex;
  flex: 1rem;
  margin: 1rem;
  font-family: sans-serif;
  font-size: 1.5vw;
}

.large {
  flex: left;
  width: 100%;
  height: 200px;
  background: black;
  margin: 2rem;

}
.columns{
  display: flex;
  width: 80vw;
}

.column{
  flex: 1;
}

/* index */

.dropbtn {
    background-color: black;
    flex: left;
    width: 2420px;
    height: 200px;
    background: black;
    margin: 2rem;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(240,250,0,0.4);
    border: none;


}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    /* background-color: white; */
    position: absolute;
    min-width: 160px;
    overflow: auto;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .dropdown a:hover {background-color: white;} */

.show {display:block;}
